main.login {
    width: 100%;
    height: 100vh;

    position: relative;
    isolation: isolate;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #0e0e0e;

    overflow: hidden;

    @media screen and (min-width: 768px) {
        padding-top: 100px;
    }

    iframe {
        position: absolute;

        width: 101%;
        height: 101%;

        z-index: -1;
    }

    .login-wrapper {
        width: clamp(0px, 100%, 400px);
        aspect-ratio: 1 / 1.5;

        display: flex;
        align-items: center;
        flex-direction: column;

        padding: 2em;

        background: rgb(21 210 255 / 21%);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgb(53 255 236 / 25%);
        backdrop-filter: blur(5px);
        border: 1px solid rgb(0 253 255 / 30%);

        color: white;

        overflow: hidden;

        .back-icon {
            position: absolute;
            top: 0;
            left: 0;
            padding: 1.2em 1.2em;

            cursor: pointer;

            color: white;
            background-color: transparent;
        }

        h2 {
            font-family: 'Merienda', cursive;

            margin-bottom: 0.2em;

            @media screen and (min-width: 768px) {
                font-size: clamp(1.2rem, 2.3vw + 0.7rem, 2.1rem);
            }
        }

        input[type='number']::-webkit-inner-spin-button,
        input[type='number']::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .inps {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            margin: auto 0;

            position: relative;
            isolation: isolate;

            &.code {
                .inp {
                    &.phone {
                        transform: translateX(-200%);
                    }
                    &.code {
                        transform: translateX(0);
                    }
                }
            }

            .inp {
                display: flex;
                flex-direction: column;
                width: 100%;

                transition: 0.5s cubic-bezier(0.45, 0.02, 0.09, 0.98);

                &.error {
                    input {
                        border: 2px solid var(--alert-error);
                    }
                }

                &.disabled {
                    pointer-events: none;
                    opacity: 0.5;
                }

                &.code {
                    position: absolute;
                    inset: 0;

                    transform: translateX(200%);
                }

                .error {
                    border-bottom: 1px solid red;
                    padding-bottom: 0.5em;
                    margin-top: 1em;
                }
                .desc {
                    margin-top: 1em;
                }

                .holder {
                    display: flex;
                    align-items: center;
                    gap: 0.5em;

                    margin-bottom: 1em;

                    font-family: 'yekanBold';
                }

                input {
                    background-color: white;
                    border: none;
                    border-radius: 0.5rem;
                    padding: 0.5em;

                    color: black;
                }
            }
        }

        button.cta {
            width: 100%;
            padding: 1em;

            margin-top: 2em;

            background-image: linear-gradient(45deg, #ff6eff 50%, #3fd3ff);
            color: black;
            border-radius: 0.7em 0.5rem;
        }
    }
}
