.dashboard {
    width: 100%;
    height: 100vh;

    display: flex;

    direction: rtl;

    overflow: hidden;

    background-image: repeating-linear-gradient(
            45deg,
            rgba(0, 0, 0, 0.05) 0px,
            rgba(0, 0, 0, 0.05) 2px,
            transparent 2px,
            transparent 4px
        ),
        linear-gradient(0deg, rgb(70, 143, 234), rgb(187, 235, 205));

    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }

    .sidebar {
        width: clamp(280px, 20%, 300px);

        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 5vh;

        background-color: white;
        border-top-left-radius: 70px;
        border-bottom-left-radius: 70px;

        padding: 3vh 0;
        padding-top: 120px;

        @media screen and (max-width: 1024px) {
            width: 100%;
        }

        .avatar {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 4vh;

            width: 100%;

            padding-bottom: 40px;

            position: relative;

            .profile-avatar {
                width: 100px;
                aspect-ratio: 1/1;

                border-radius: 100vmax;

                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .name-avatar {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;

                padding: 0 10px;

                overflow: hidden;

                span,
                h2 {
                    padding: 0 20px;

                    display: inline-block;
                    transform: translateY(100%);
                    white-space: nowrap;
                    animation: header-fadeIn 1s
                        cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;

                    @keyframes header-fadeIn {
                        from {
                            transform: translateY(100%);
                        }
                        to {
                            transform: translateY(0);
                        }
                    }
                }

                &::after {
                    content: '';

                    position: absolute;
                    bottom: 0;

                    width: 0;
                    height: 1px;
                    background-image: linear-gradient(
                        90deg,
                        rgba(0, 0, 0, 0),
                        black,
                        rgba(0, 0, 0, 0)
                    );
                    animation: width-slideIn 1s 1s
                        cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;

                    @keyframes width-slideIn {
                        from {
                            width: 0;
                        }
                        to {
                            width: 80%;
                        }
                    }
                }
            }
        }

        .links {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;

            padding: 1em;

            .link {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 0.5em;

                padding: 1em 0;

                color: black;

                cursor: pointer;

                will-change: transform;
                transition: 0.5s cubic-bezier(0.45, 0.02, 0.09, 0.98);

                &:hover {
                    transform: translateX(-1em);
                }
            }
        }

        .logout-cta {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 0.5em;

            background: transparent;
            color: var(--alert-error);
            padding: 1em;
            margin-top: auto;
        }
    }
    .dashboard-wrapper {
        flex: 1 0;
        height: 100vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        overflow-y: auto;
        overflow-x: hidden;

        direction: ltr;
        position: relative;
        isolation: isolate;

        section {
            display: flex;
            flex-direction: column;

            align-items: center;
            justify-content: flex-start;

            width: 100%;
            // height: auto;

            padding: 3vh 1vw;

            direction: ltr;
        }
    }
}
