section.wallet {
    width: 100%;
    height: 100%;

    background-color: var(--thirty-percent);
    background-image: linear-gradient(25deg, var(--sixty-percent), transparent);
    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    isolation: isolate;

    padding: 5vh 3vw;

    overflow: auto;
    overscroll-behavior: contain;

    .wallet-current {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;

        flex-shrink: 0;

        width: clamp(0px, 100%, 600px);
        aspect-ratio: 2 / 1;

        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        color: white;
        border-radius: 3rem 1rem;

        background-size: 100%;
        background-repeat: no-repeat;
        background-position: bottom;

        padding: 1.5em;

        .head {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .holder {
                display: flex;
                align-items: center;
                gap: 1em;
            }
            .logo {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 50px;
                aspect-ratio: 1/1;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        .counter {
        }

        .center {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            font-family: Vazir;
        }

        .bottom {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .charge-wallet {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

        margin-top: 2em;

        .inp {
            width: clamp(0px, 100%, 600px);
            margin-bottom: 3em;

            input[type='number']::-webkit-inner-spin-button,
            input[type='number']::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            input {
                width: 100%;
                background-color: transparent;
                color: var(--accent-color);
                padding: 1em 0;
                border: none;
                border-bottom: 1px solid var(--accent-color);

                text-align: center;
            }
        }
    }

    .transactions {
        width: 100%;
        height: auto;

        margin-top: 4em;

        table {
            width: 100%;
            color: var(--accent-color);

            border: 1px solid black;
            border-spacing: 0;
            border-radius: 12px;
            overflow: hidden;

            // background-color: white;
            background-color: transparent;

            td,
            th {
                text-align: center;
                border: 1px solid black;

                padding: 1em 0.25em;
            }
            tr {
                position: relative;
                isolation: isolate;
            }

            .transaction-kind {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5em;

                &.in {
                    svg {
                        color: var(--alert-success);
                    }
                }
                &.out {
                    svg {
                        transform: scaleY(-1);
                        color: var(--alert-error);
                    }
                }
            }
            .transaction-amount {
                span {
                    margin: 0 0.5em;
                }
            }

            .id {
                width: clamp(0px, 50px, 100px);
            }
            td.edit {
                cursor: pointer;

                svg {
                    display: inline-block;

                    margin: 0 0.5rem;
                }
            }
        }

        .no-orders {
            display: flex;
            align-items: center;
            justify-content: center;

            color: var(--accent-color);
        }
    }
}
