.signature-00-team {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--primary-color);
    color: var(--accent-color);

    direction: ltr;
    font-family: 'Graduate';

    padding: 1.5rem;

    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 0 0 gold;

    transition: text-shadow 3s;

    &.active {
        text-shadow: 0 0 74px gold;

        &:hover {
            transition: 1.5s;
            text-shadow: 0 0 24px gold;
        }
    }
}
