@font-face {
    font-family: 'Graduate';
    src: url('./Graduate/Graduate.ttf') format('truetype');
}

@font-face {
    font-family: 'iranLight';
    src: url('./iranSans/iran-light.woff2') format('woff2');
}

@font-face {
    font-family: 'iranBold';
    src: url('./iranSans/iran-bold.woff2') format('woff2');
}

@font-face {
    font-family: 'yekanBold';
    src: url('./iranYekan/IRANYekanWebBold.woff') format('woff2');
}

@font-face {
    font-family: 'yekan';
    src: url('./iranYekan/IRANYekanWebRegular.woff') format('woff2');
}

@font-face {
    font-family: 'vazir';
    src:
        url('./vazir/Vazir.woff2') format('woff2'),
        url('./vazir/Vazir.ttf') format('truetype');
}

@font-face {
    font-family: 'Merienda';
    font-style: normal;
    font-weight: 300 900;
    font-display: swap;
    src: url('./Merienda-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Poetsen One';
    font-style: normal;
    font-display: swap;
    src: url('./poetsen/poetsen..ttf') format('truetype');
}
