main.products {
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: black;

    position: relative;
    isolation: isolate;

    background-color: white;
    background-size: 0vw;

    padding: 5vh 3vw;
    padding-top: calc(100px + 10vh);

    background-image: linear-gradient(
            112.5deg,
            rgb(250, 109, 130) 0%,
            rgb(250, 109, 130) 3%,
            rgb(219, 107, 130) 3%,
            rgb(219, 107, 130) 34%,
            rgb(187, 104, 131) 34%,
            rgb(187, 104, 131) 46%,
            rgb(156, 102, 131) 46%,
            rgb(156, 102, 131) 51%,
            rgb(124, 99, 132) 51%,
            rgb(124, 99, 132) 52%,
            rgb(93, 97, 132) 52%,
            rgb(93, 97, 132) 76%,
            rgb(61, 94, 133) 76%,
            rgb(61, 94, 133) 84%,
            rgb(30, 92, 133) 84%,
            rgb(30, 92, 133) 100%
        ),
        linear-gradient(
            157.5deg,
            rgb(250, 109, 130) 0%,
            rgb(250, 109, 130) 3%,
            rgb(219, 107, 130) 3%,
            rgb(219, 107, 130) 34%,
            rgb(187, 104, 131) 34%,
            rgb(187, 104, 131) 46%,
            rgb(156, 102, 131) 46%,
            rgb(156, 102, 131) 51%,
            rgb(124, 99, 132) 51%,
            rgb(124, 99, 132) 52%,
            rgb(93, 97, 132) 52%,
            rgb(93, 97, 132) 76%,
            rgb(61, 94, 133) 76%,
            rgb(61, 94, 133) 84%,
            rgb(30, 92, 133) 84%,
            rgb(30, 92, 133) 100%
        ),
        linear-gradient(
            45deg,
            rgb(250, 109, 130) 0%,
            rgb(250, 109, 130) 3%,
            rgb(219, 107, 130) 3%,
            rgb(219, 107, 130) 34%,
            rgb(187, 104, 131) 34%,
            rgb(187, 104, 131) 46%,
            rgb(156, 102, 131) 46%,
            rgb(156, 102, 131) 51%,
            rgb(124, 99, 132) 51%,
            rgb(124, 99, 132) 52%,
            rgb(93, 97, 132) 52%,
            rgb(93, 97, 132) 76%,
            rgb(61, 94, 133) 76%,
            rgb(61, 94, 133) 84%,
            rgb(30, 92, 133) 84%,
            rgb(30, 92, 133) 100%
        ),
        linear-gradient(90deg, rgb(71, 69, 135), rgb(26, 138, 241));
    background-blend-mode: overlay, overlay, overlay, normal;

    animation: bg-anim 1s cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;

    @keyframes bg-anim {
        from {
            background-size: 0vw;
        }
        to {
            background-size: 100vw;
        }
    }

    @media screen and (max-width: 768px) {
        padding-top: 100px;
        overflow: hidden;
    }

    header.products-header {
    }
    .products-wrapper {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 5vh;
        column-gap: 5vw;

        .product-card {
            width: clamp(0px, 100%, 300px);
            aspect-ratio: 1 / 1.5;

            display: flex;
            align-items: center;
            flex-direction: column;

            padding: 0 8px;

            background-color: var(--accent-color);

            clip-path: polygon(
                0 8%,
                12% 0,
                88% 0,
                100% 8%,
                100% 92%,
                92% 100%,
                10% 100%,
                0 92%
            );

            .img-wrapper {
                width: 100%;
                aspect-ratio: 16 / 9;

                display: flex;
                align-items: center;
                justify-content: center;

                transform: translateY(10px);

                position: relative;
                isolation: isolate;

                &::before {
                    content: '';

                    position: absolute;
                    bottom: 0;
                    right: 0;

                    width: 100%;
                    height: 25%;

                    background-image: linear-gradient(
                        to top,
                        var(--accent-color),
                        transparent
                    );
                    z-index: 1;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                    clip-path: polygon(
                        0 19%,
                        12% 0,
                        88% 0,
                        100% 19%,
                        100% 101%,
                        90% 100%,
                        0% 100%,
                        0 81%
                    );
                }
            }
            .card-buy {
                width: 100%;
                padding: 1rem;

                margin-top: auto;
                background-color: #0137ee;

                border-radius: 10px;

                transform: translateY(-13%);

                clip-path: polygon(
                    0% 0%,
                    3% 0%,
                    100% 0%,
                    100% 30%,
                    100% 42%,
                    93% 100%,
                    9% 100%,
                    0% 42%
                );
            }
            .card-title {
                width: 100%;

                display: flex;
                align-items: center;
                justify-content: center;

                margin-top: 1em;

                &::before,
                &::after {
                    content: '';

                    width: 100%;
                    height: 1px;
                }

                &::after {
                    background: linear-gradient(-45deg, black, transparent);
                }
                &::before {
                    background: linear-gradient(45deg, black, transparent);
                }

                span {
                    padding: 0 12px;
                    white-space: nowrap;
                }
            }
        }
    }
}
