footer.footer-container {
    width: 100%;

    display: flex;
    flex-direction: column;

    padding: 3em 2em;

    background-color: var(--thirty-percent);
    color: var(--accent-color);

    position: relative;
    isolation: isolate;
    // overflow: hidden;

    &::before {
        content: '';

        position: absolute;
        top: 0;
        right: 0;

        width: clamp(0px, 100%, 200px);
        height: 500px;
        background-image: radial-gradient(
            69.1205% 50% at 50% 0%,
            #2196f3 0%,
            rgba(255, 255, 255, 0) 70%
        );

        @media screen and (min-width: 768px) {
            background-image: radial-gradient(
                69.1205% 50% at 100% 0%,
                #2196f3 0%,
                rgba(255, 255, 255, 0) 70%
            );
        }
    }

    .footer-wrapper {
        display: flex;
        flex-wrap: wrap;
        row-gap: 2em;

        width: 100%;

        .footer-dream {
            display: flex;
            flex-direction: column;
            width: clamp(0px, 100%, 800px);

            @media screen and (max-width: 768px) {
                margin-bottom: 1.5em;
            }

            .footer-title {
                margin-bottom: 0.5em;

                display: flex;
                align-items: center;
                gap: 0.5em;

                @media screen and (max-width: 768px) {
                    flex-direction: column;
                }

                img {
                    width: clamp(0px, 100%, 200px);

                    aspect-ratio: 1/1;
                    object-fit: contain;
                }
            }

            .footer-description {
                margin-right: 1.5em;
                width: 80%;
                text-wrap: pretty;
                line-height: 2em;

                @media screen and (max-width: 768px) {
                    width: 100%;
                }
            }
        }

        .footer-links {
            display: flex;
            flex-direction: column;

            margin: 0 auto;

            .dream-socials {
                width: 100%;

                display: flex;
                flex-wrap: wrap;

                column-gap: calc(5vw + 10px);
                row-gap: calc(2.5vh + 5px);

                margin-bottom: 1em;

                @media screen and (max-width: 768px) {
                    justify-content: center;
                    margin-bottom: 1.5em;
                }

                .social {
                    border-radius: 100vmax;
                    color: white;

                    cursor: pointer;

                    display: grid;
                    place-items: center;

                    position: relative;
                    isolation: isolate;
                    overflow: hidden;

                    &::before {
                        content: '';
                        position: absolute;

                        width: 0;
                        height: 0;
                        border-radius: 100vmax;
                        background-color: var(--thirty-percent);

                        z-index: -1;

                        transition: all 0.5s
                            cubic-bezier(0.45, 0.02, 0.09, 0.98);
                    }
                    &:hover {
                        &.telegram {
                            svg {
                                color: #08a0e9;
                            }
                        }
                        &.whatsapp {
                            svg {
                                color: #1dee40;
                            }
                        }
                        &.instagram {
                            svg {
                                color: #bb2d93;
                            }
                        }
                        &::before {
                            width: 90%;
                            height: 90%;
                        }
                    }

                    svg {
                        margin: 12px;

                        transition: color 0.5s
                            cubic-bezier(0.45, 0.02, 0.09, 0.98);
                    }

                    &.telegram {
                        background: linear-gradient(
                                to bottom,
                                rgba(255, 255, 255, 0.2),
                                rgba(0, 0, 0, 0.15)
                            ),
                            #08a0e9;
                    }
                    &.whatsapp {
                        background: linear-gradient(
                                to bottom,
                                rgba(255, 255, 255, 0.2),
                                rgba(0, 0, 0, 0.2)
                            ),
                            linear-gradient(-35deg, #69c9d0 30%, #1dee40 75%);
                    }
                    &.instagram {
                        background: linear-gradient(
                                to bottom,
                                rgba(255, 255, 255, 0.1),
                                rgba(0, 0, 0, 0.1)
                            ),
                            linear-gradient(
                                180deg,
                                #f99257 0%,
                                #e42d59 25%,
                                #bb2d93 65%,
                                #7738c5 100%
                            );
                    }
                }
            }

            .site-links {
                display: flex;
                column-gap: 6em;
                row-gap: 4vh;

                @media screen and (max-width: 425px) {
                    flex-direction: column;
                    align-items: center;
                }

                .link-column {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    min-width: 140px;

                    @media screen and (max-width: 425px) {
                        align-items: center;
                    }

                    .column-head {
                        margin-bottom: 1em;
                    }

                    .column-link {
                        margin-bottom: 1em;

                        padding: 0.2em 0;

                        position: relative;
                        isolation: isolate;

                        &::before {
                            content: '';
                            position: absolute;

                            bottom: 0;
                            right: 0;

                            width: 100%;
                            height: 1px;

                            background-image: linear-gradient(
                                227deg,
                                #ff6eff,
                                transparent
                            );
                            background-color: #3fd3ff;
                            filter: brightness(1.3);

                            transform: scaleX(0);
                            transform-origin: right center;

                            transition: transform 0.6s
                                cubic-bezier(0.19, 1, 0.22, 1);
                        }

                        &:hover {
                            &::before {
                                transition-duration: 0.4s;

                                transform: scaleX(1);

                                transform-origin: left center;
                            }
                        }
                    }
                }
            }
        }
    }

    .en {
        margin-top: 2em;
        direction: ltr;
    }
    // .footer-00team {
    //     width: 100%;
    //     margin-top: 2rem;
    //
    //     position: relative;
    //     isolation: isolate;
    //
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    //     column-gap: 5vw;
    //     row-gap: 2vw;
    //
    //     flex-wrap: wrap;
    //
    //     padding: 1rem;
    //
    //     &::before {
    //         content: '';
    //         width: 100%;
    //         height: 1px;
    //
    //         position: absolute;
    //         top: 0;
    //
    //         background-image: linear-gradient(
    //             90deg,
    //             rgba(0, 0, 0, 0),
    //             black,
    //             rgba(0, 0, 0, 0)
    //         );
    //     }
    //
    //     .fa {
    //         line-height: 1.8em;
    //
    //         .team-00 {
    //             direction: ltr;
    //
    //             font-family: 'Graduate', serif;
    //             font-weight: 400;
    //             font-style: normal;
    //
    //             color: black;
    //             text-decoration: none;
    //         }
    //     }
    // }
}
