nav.nav-big-container {
    width: 100%;

    position: fixed;
    top: 0;

    background-color: transparent;

    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 2rem;

    isolation: isolate;

    transition: 0.5s;

    @media screen and (max-width: 1024px) {
        padding: 0 0.5rem;
    }
    @media screen and (max-width: 768px) {
        display: none;
    }

    .nav-logo {
        width: 75px;
        aspect-ratio: 1/1;

        filter: drop-shadow(0px 0px 6px rgb(0, 0, 0, 0.4));
    }
    .nav-links {
        display: flex;
        align-items: center;

        cursor: pointer;

        height: 100%;

        position: relative;
        isolation: isolate;

        .nav-link {
            display: flex;
            align-items: center;
            gap: 0.5em;

            height: 100%;

            padding: 1.2em 1em;

            position: relative;

            .drop {
                opacity: 0.7;
            }

            .dropdown {
                position: absolute;
                top: 90px;

                width: 100%;

                right: 0;
                display: flex;
                align-items: center;
                flex-direction: column;

                border-radius: 10px;
                filter: drop-shadow(2px 4px 6px black);

                transform: translateY(-50px);
                visibility: hidden;
                opacity: 0;

                transition: 1s ease;

                &.active {
                    transform: translateY(0);
                    visibility: visible;
                    opacity: 1;

                    .drop-link {
                        .holder {
                            transform: translateX(0);
                        }
                    }
                }

                .drop-link {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 1em;

                    padding: 1em 1em;
                    background-color: white;
                    // border-radius: 12px;
                    // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                    color: black;

                    position: relative;
                    isolation: isolate;
                    overflow: hidden;

                    will-change: top;
                    transition: top 0.5s;

                    &:first-child {
                        border-radius: 12px 12px 0 0;
                    }
                    &:last-child {
                        border-radius: 0 0 12px 12px;
                    }

                    &:not(:first-child) {
                        position: absolute;
                        z-index: -1;
                    }

                    &:first-child {
                        z-index: 100;
                    }

                    $delay: 0.2s;

                    .holder {
                        transform: translateX(200%);

                        will-change: transform;
                        transition: 0.5s cubic-bezier(0.45, 0.02, 0.09, 0.98);

                        $delay: 0.1s;

                        @for $i from 1 through 50 {
                            &:nth-child(#{$i}) {
                                transition-delay: #{$delay * $i};
                            }
                        }

                        img {
                            width: 30px;
                            aspect-ratio: 1/1;

                            object-fit: contain;
                        }
                    }
                }
            }
        }
        .line {
            content: '';
            position: absolute;
            bottom: 7px;
            // right: 0;

            width: 100px;
            height: 2px;

            background-image: linear-gradient(227deg, #ff6eff, transparent);
            background-color: #3fd3ff;

            transform: scaleX(0);
            transform-origin: left center;

            will-change: transform;
            transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);

            &.show {
                transition-duration: 0.4s;
                transform: scaleX(1);
                transform-origin: right center;
            }
        }
    }
}

nav.nav-small-container {
    width: 100%;
    height: 100px;

    position: fixed;
    top: 0;

    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 0.5rem;
    padding-right: 0;

    isolation: isolate;

    @media screen and (min-width: 769px) {
        display: none;
    }

    .nav-logo {
        height: 75px;
        aspect-ratio: 1/1;
        object-fit: contain;
    }

    .open-small {
        background-color: transparent;
        color: black;

        height: 100%;
        padding: 1.5rem;

        position: relative;
        isolation: isolate;

        overflow: hidden;

        &.active {
            .open {
                transform: translate3d(-100px, 0, 0px);
            }
            .close {
                transform: none;
            }
        }

        .open {
            will-change: transform;
            transition: 0.5s transform cubic-bezier(0.45, 0.02, 0.09, 0.98);
        }

        .close {
            width: 100%;
            height: 100%;

            position: absolute;
            inset: 0;

            transform: translate3d(100px, -100px, 0px);

            display: flex;
            align-items: center;
            justify-content: center;

            will-change: transform;
            transition: 0.5s transform cubic-bezier(0.45, 0.02, 0.09, 0.98);
        }
    }
}

.show-small-nav {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;

    position: fixed;
    top: 0;

    will-change: transform;
    transition: 0.5s;

    visibility: hidden;
    opacity: 0;

    z-index: 998;

    &.active {
        visibility: visible;
        opacity: 1;

        .nav-wrapper {
            transform: none;
            visibility: visible;
            opacity: 1;
        }
    }

    .nav-wrapper {
        width: 60%;
        height: 110%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        background: var(--accent-color);

        visibility: hidden;
        opacity: 0;

        will-change: transform;
        transform: translate3d(15vw, 0, 0);
        transition: 0.5s;

        overflow: hidden;

        .nav-link {
            display: flex;
            align-items: center;
            gap: 0.5em;

            width: 100%;

            padding: 1em 1em;
            padding-right: 2em;

            position: relative;

            .drop {
                opacity: 0.7;
            }

            .small-dropdown {
                width: 100%;

                position: absolute;
                top: 60px;

                background-color: var(--accent-color);

                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                max-height: 0;
                overflow: hidden;

                z-index: 1;

                will-change: height, max-height;
                transition: 0.5s;
                transition-delay: 0.7s;

                &.active {
                    transition-delay: 0s;
                    max-height: 1000px;

                    .small-link {
                        transform: translateX(0);
                    }
                }

                .small-link {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 1em;

                    padding: 0.7em 1em;

                    color: black;

                    transform: translateX(-100%);

                    position: relative;
                    isolation: isolate;
                    overflow: hidden;

                    will-change: transform;
                    transition: transform 0.7s
                        cubic-bezier(0.45, 0.02, 0.09, 0.98);

                    $delay: 0.05s;
                    @for $i from 1 through 50 {
                        &:nth-child(#{$i}) {
                            transition-delay: #{$delay * $i};
                        }
                    }

                    .holder {
                        img {
                            width: 30px;
                            aspect-ratio: 1/1;
                        }
                    }
                }
            }
        }
    }
}

.nav-svg {
    transform: scaleY(0.35) translateY(-440px);

    position: absolute;
    top: 0;
    right: 0;

    z-index: -1;

    will-change: transform;

    @media screen and (max-width: 1440px) {
        transform: scaleY(0.35) translateY(-330px);
    }
    @media screen and (max-width: 1232px) {
        transform: scaleY(0.4) translateY(-235px);
    }
    @media screen and (max-width: 1024px) {
        transform: scaleY(0.5) translateY(-130px);
    }
    @media screen and (min-width: 2000px) {
        transform: scaleY(0.35) translateY(-460px);
    }
    @media screen and (min-width: 2200px) {
        transform: scaleY(0.35) translateY(-520px);
    }
    @media screen and (min-width: 2560px) {
        transform: scaleY(0.35) translateY(-600px);
    }

    .path-0 {
        animation: pathAnim-0 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    @keyframes pathAnim-0 {
        0% {
            d: path(
                'M 0,400 L 0,100 C 139.67857142857144,98.71428571428572 279.3571428571429,97.42857142857143 397,90 C 514.6428571428571,82.57142857142857 610.2500000000001,68.99999999999999 708,70 C 805.7499999999999,71.00000000000001 905.6428571428571,86.57142857142858 1028,94 C 1150.357142857143,101.42857142857142 1295.1785714285716,100.71428571428571 1440,100 L 1440,400 L 0,400 Z'
            );
        }
        25% {
            d: path(
                'M 0,400 L 0,100 C 156.32142857142856,79.92857142857143 312.6428571428571,59.85714285714286 413,73 C 513.3571428571429,86.14285714285714 557.75,132.5 663,128 C 768.25,123.49999999999999 934.3571428571429,68.14285714285714 1074,55 C 1213.642857142857,41.85714285714286 1326.8214285714284,70.92857142857143 1440,100 L 1440,400 L 0,400 Z'
            );
        }
        50% {
            d: path(
                'M 0,400 L 0,100 C 116.32142857142858,113.57142857142857 232.64285714285717,127.14285714285714 359,116 C 485.35714285714283,104.85714285714286 621.7499999999999,69 741,58 C 860.2500000000001,46.99999999999999 962.3571428571429,60.85714285714285 1076,72 C 1189.642857142857,83.14285714285715 1314.8214285714284,91.57142857142858 1440,100 L 1440,400 L 0,400 Z'
            );
        }
        75% {
            d: path(
                'M 0,400 L 0,100 C 155.89285714285717,86.85714285714286 311.78571428571433,73.71428571428571 418,74 C 524.2142857142857,74.28571428571429 580.7499999999999,88 686,91 C 791.2500000000001,94 945.2142857142858,86.28571428571429 1079,86 C 1212.7857142857142,85.71428571428571 1326.392857142857,92.85714285714286 1440,100 L 1440,400 L 0,400 Z'
            );
        }
        100% {
            d: path(
                'M 0,400 L 0,100 C 139.67857142857144,98.71428571428572 279.3571428571429,97.42857142857143 397,90 C 514.6428571428571,82.57142857142857 610.2500000000001,68.99999999999999 708,70 C 805.7499999999999,71.00000000000001 905.6428571428571,86.57142857142858 1028,94 C 1150.357142857143,101.42857142857142 1295.1785714285716,100.71428571428571 1440,100 L 1440,400 L 0,400 Z'
            );
        }
    }

    .path-1 {
        animation: pathAnim-1 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    @keyframes pathAnim-1 {
        0% {
            d: path(
                'M 0,400 L 0,233 C 125.78571428571428,246.07142857142858 251.57142857142856,259.14285714285717 356,258 C 460.42857142857144,256.85714285714283 543.5,241.49999999999997 656,234 C 768.5,226.50000000000003 910.4285714285716,226.8571428571429 1046,228 C 1181.5714285714284,229.1428571428571 1310.7857142857142,231.07142857142856 1440,233 L 1440,400 L 0,400 Z'
            );
        }
        25% {
            d: path(
                'M 0,400 L 0,233 C 107.57142857142858,210.67857142857144 215.14285714285717,188.35714285714286 340,185 C 464.85714285714283,181.64285714285714 606.9999999999999,197.25000000000003 737,206 C 867.0000000000001,214.74999999999997 984.8571428571429,216.64285714285714 1100,220 C 1215.142857142857,223.35714285714286 1327.5714285714284,228.17857142857144 1440,233 L 1440,400 L 0,400 Z'
            );
        }
        50% {
            d: path(
                'M 0,400 L 0,233 C 99.64285714285714,215.28571428571428 199.28571428571428,197.57142857142858 315,190 C 430.7142857142857,182.42857142857142 562.4999999999999,184.99999999999997 690,185 C 817.5000000000001,185.00000000000003 940.7142857142858,182.42857142857144 1065,190 C 1189.2857142857142,197.57142857142856 1314.642857142857,215.28571428571428 1440,233 L 1440,400 L 0,400 Z'
            );
        }
        75% {
            d: path(
                'M 0,400 L 0,233 C 123.32142857142858,255.39285714285714 246.64285714285717,277.7857142857143 372,269 C 497.35714285714283,260.2142857142857 624.75,220.24999999999997 735,210 C 845.25,199.75000000000003 938.3571428571429,219.21428571428572 1053,228 C 1167.642857142857,236.78571428571428 1303.8214285714284,234.89285714285714 1440,233 L 1440,400 L 0,400 Z'
            );
        }
        100% {
            d: path(
                'M 0,400 L 0,233 C 125.78571428571428,246.07142857142858 251.57142857142856,259.14285714285717 356,258 C 460.42857142857144,256.85714285714283 543.5,241.49999999999997 656,234 C 768.5,226.50000000000003 910.4285714285716,226.8571428571429 1046,228 C 1181.5714285714284,229.1428571428571 1310.7857142857142,231.07142857142856 1440,233 L 1440,400 L 0,400 Z'
            );
        }
    }
}
