[Unit]
Description=dream backend
After=syslog.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/p/dream/
EnvironmentFile=/p/dream/.env
ExecStart=/p/dream/target/release/dream
KillSignal=SIGQUIT
StandardError=file:/p/dream/logs/error.log
StandardOutput=file:/p/dream/logs/output.log
NotifyAccess=all

[Install]
WantedBy=multi-user.target
