[Unit]
Description=Dream Backup

[Service]
Type=oneshot
ExecStart=/p/dream/config/backup.sh
WorkingDirectory=/p/dream/
EnvironmentFile=/p/dream/.secrets.env
