section.contact {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 5vh 3vw;

    padding-bottom: 10vh;

    .contact-header {
        width: 100%;

        display: flex;
        align-items: center;
        flex-direction: column;

        h4 {
            margin-bottom: 0.5em;
        }

        h4,
        h5 {
            background-image: linear-gradient(
                90deg,
                transparent 50%,
                #000000 140%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .contact-wrapper {
        margin-top: 4em;

        width: clamp(0px, 100%, 1500px);
        aspect-ratio: 2 / 1;

        display: flex;
        align-items: center;
        flex-direction: column;

        padding: 2.5em 2.5em;
        border-radius: 3rem;
        background: rgb(229 243 255 / 68%);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        color: black;

        position: relative;

        &::before,
        &::after {
            content: '';

            position: absolute;

            width: 100%;
            height: 100%;

            z-index: -1;
        }
        &::before {
            top: 0;
            right: 0;
            transform: translate(50%, -50%);

            background-image: radial-gradient(
                25% 50% at 50% 50%,
                #2196f3 0%,
                rgba(255, 255, 255, 0) 45%
            );
        }
        &::after {
            bottom: 0;
            left: 0;
            transform: translate(-50%, 50%);

            background-image: radial-gradient(
                25% 50% at 50% 50%,
                #2196f3 0%,
                rgba(255, 255, 255, 0) 45%
            );
        }
    }
}
