section.contact {
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 5vh 3vw;

    overflow: hidden;

    .contact-header {
        width: 100%;

        display: flex;
        align-items: center;
        flex-direction: column;

        h4 {
            margin-bottom: 0.5em;
        }

        h4,
        h5 {
            background-image: linear-gradient(
                90deg,
                transparent 50%,
                #000000 140%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .contact-wrapper {
        margin-top: 4em;

        width: clamp(0px, 100%, 1500px);

        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 2.5em 2.5em;
        border-radius: 3rem;
        background: rgb(177 222 255 / 80%);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        color: black;

        position: relative;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            row-gap: 4em;

            &::before,
            &::after {
                display: none;
            }
        }

        &::before,
        &::after {
            content: '';

            position: absolute;

            width: 100%;
            height: 100%;

            z-index: -1;
        }
        &::before {
            top: 0;
            right: 0;
            transform: translate(50%, -50%);

            background-image: radial-gradient(
                25% 50% at 50% 50%,
                #2196f3 0%,
                rgba(255, 255, 255, 0) 45%
            );
        }
        &::after {
            bottom: 100px;
            left: 0;
            transform: translate(-50%, 50%);

            background-image: radial-gradient(
                25% 50% at 50% 50%,
                #2196f3 0%,
                rgba(255, 255, 255, 0) 45%
            );
        }

        .email-us {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: clamp(0px, 100%, 800px);

            @media screen and (max-width: 1200px) {
                width: clamp(0px, 100%, 700px);
            }
            @media screen and (max-width: 1024px) {
                width: clamp(0px, 100%, 450px);
            }

            h6 {
                margin-bottom: 1em;
            }

            input {
                margin-bottom: 1em;

                border: none;
                border-radius: 0.7rem;

                padding: 1em;
                background-color: white;
                color: black;
            }
            textarea {
                margin-bottom: 1em;

                background-color: white;
                color: black;

                padding: 1em;

                border-radius: 0.7rem;
                border: none;

                resize: none;
            }
        }
        .socials {
            flex: 1 0 0;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            row-gap: 2em;

            .social {
                border-radius: 100vmax;
                color: white;

                width: 100px;
                aspect-ratio: 1/1;

                cursor: pointer;

                display: grid;
                place-items: center;

                will-change: transform;

                position: relative;
                isolation: isolate;
                overflow: hidden;

                svg {
                    will-change: transform;

                    filter: drop-shadow(0px 0px 6px rgb(0, 0, 0, 0.5));

                    width: 50%;
                    height: 50%;
                }

                &.telegram {
                    background: linear-gradient(
                            to bottom,
                            rgb(255, 133, 251, 0.8),
                            rgba(0, 0, 0, 0.15)
                        ),
                        #08a0e9;
                }
                &.whatsapp {
                    background: linear-gradient(
                            to bottom,
                            rgba(255, 255, 255, 0.2),
                            rgba(0, 0, 0, 0.2)
                        ),
                        linear-gradient(-35deg, #69c9d0 30%, #1dee40 75%);
                }
                &.instagram {
                    background: linear-gradient(
                            to bottom,
                            rgba(255, 255, 255, 0.1),
                            rgba(0, 0, 0, 0.1)
                        ),
                        linear-gradient(
                            180deg,
                            #f99257 0%,
                            #e42d59 25%,
                            #bb2d93 65%,
                            #7738c5 100%
                        );
                }
            }
        }
    }
}
