section.contact {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 5vh 3vw;

    .contact-header {
        width: 100%;

        display: flex;
        align-items: center;
        flex-direction: column;

        h4 {
            margin-bottom: 0.5em;
        }

        h4,
        h5 {
            background-image: linear-gradient(
                90deg,
                transparent 50%,
                #000000 140%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
