section.faq-container {
    width: 100%;

    padding: 5vh 3vw;

    display: flex;
    align-items: center;
    flex-direction: column;

    background-image: linear-gradient(
        to bottom,
        var(--sixty-percent),
        var(--primary-color)
    );

    overflow: hidden;

    .faq-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2em;

        margin-bottom: 4em;

        h3 {
            transition: color 1s ease;
        }

        .header-icon {
            rotate: 20deg;

            transform: translateY(50px);

            will-change: transform;
            transition: 0.5s;

            &.reverse {
                rotate: -20deg;

                svg {
                    transform: scaleX(-1);
                }
            }
        }
    }

    .faq-wrapper {
        width: clamp(0px, 100%, 1000px);

        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2em;

        @media screen and (max-width: 768px) {
            gap: 4em;
        }

        .faq-row {
            background-color: transparent;
            color: var(--accent-color);

            display: flex;
            flex-direction: column;

            width: 100%;

            padding-bottom: 2em;
            border-bottom: 1px solid var(--accent-color);

            max-height: 3.5em;
            overflow: hidden;

            cursor: pointer;

            will-change: transform;
            transition:
                0.7s,
                transform 0.3s ease-in-out;

            @media screen and (max-width: 768px) {
                max-height: 4.5em;
            }

            &.active {
                transition: 2s;
                max-height: 100vh;

                p.faq-description {
                    opacity: 1;
                }

                svg {
                    transform: rotate(-180deg);
                }
            }
            @media screen and (min-width: 768px) {
                &.transform {
                    &:nth-child(odd) {
                        transform: translateX(1em);
                    }
                    &:nth-child(even) {
                        transform: translateX(-1em);
                    }
                }
                svg {
                    will-change: transform;
                    transition: transform 0.5s;
                }
            }

            h4.faq-title {
                width: 100%;

                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1em;

                margin-bottom: 1em;

                span {
                    line-height: 1.8em;
                }
            }
            p.faq-description {
                // text-wrap: balance;
                width: clamp(0px, 100%, 700px);
                line-height: 1.8em;

                opacity: 0;

                transition: 0.3s;
            }
        }
    }
}
