main.home section.hero-container {
    width: 100%;
    height: 110vh;

    display: flex;
    justify-content: center;

    background-color: var(--sixty-percent);

    transition: background-color 1s ease;

    position: relative;
    z-index: 2;

    // @media screen and (max-width: 768px) {
    //     height: 80vh;
    // }

    overflow: hidden;

    &.disable {
        z-index: 0;
    }

    .hero-wrapper {
        width: 100%;
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;

        position: fixed;
        top: 0;

        perspective: 1000px;

        .hero-texts {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            color: white;

            margin-top: -4em;

            scale: 3.7;

            filter: var(--hero-texts-filter);

            font-family: 'Poetsen One';
            font-weight: 900;
            letter-spacing: 3px;

            z-index: 3;

            will-change: transform;

            @media screen and (max-height: 650px) {
                margin-top: -3em;
            }
            @media screen and (max-width: 768px) {
                scale: 2.5;
                margin-top: -2.5em;
            }
            @media screen and (max-width: 375px) {
                scale: 2;
            }

            > div {
                max-height: 55px;

                .curve {
                    fill: transparent;
                }

                svg {
                    .text {
                        fill: white;
                    }
                }
            }
        }

        .stars-container {
            width: 100%;
            height: 100%;

            position: absolute;
            inset: 0;

            display: flex;
            align-items: center;
            justify-content: center;

            z-index: 2;

            @media screen and (min-width: 1440px) {
                transform: translateZ(-150px);
            }

            .star {
                --star-color: #f778ff;
                --side-space: 12%;
                --size: 300px;

                position: absolute;

                width: var(--size);

                scale: 0;

                animation: shoot-star 0.5s ease forwards;

                @keyframes shoot-star {
                    from {
                        scale: 0;
                    }
                    to {
                        scale: 1;
                    }
                }

                @media screen and (max-width: 1400px) {
                    --side-space: 7%;
                }
                @media screen and (max-width: 1024px) {
                    --size: 200px;
                }

                svg {
                    transform: scaleX(0.8);

                    @media screen and (max-width: 768px) {
                        transform: scaleX(0.6);
                    }

                    .above {
                        fill: var(--star-color);
                    }

                    .under {
                        opacity: 0.3;
                    }
                }

                .star-img {
                    position: absolute;

                    top: 0;

                    width: calc(var(--size) / 3);
                    aspect-ratio: 1;

                    border-radius: 100vmax;

                    cursor: pointer;
                }

                &.applemusic {
                    --star-color: #ff4d64;

                    right: var(--side-space);
                    top: 20%;

                    transform-origin: bottom left;

                    .star-img {
                        right: 0;

                        transform: translate(30%, -36%);
                    }

                    svg {
                        transform-origin: top right;
                    }
                }
                &.discord {
                    --star-color: #758bef;

                    left: var(--side-space);
                    top: 20%;

                    transform-origin: bottom right;

                    .star-img {
                        left: 0;

                        transform: translate(-30%, -36%);
                    }

                    svg {
                        transform-origin: top left;
                    }
                }
                &.spotify {
                    --star-color: #20d355;

                    right: var(--side-space);
                    bottom: 5%;

                    transform-origin: bottom left;

                    .star-img {
                        right: 0;

                        transform: translate(30%, -36%);
                    }

                    svg {
                        transform-origin: top right;
                    }
                }
                &.netflix {
                    --star-color: #740006;

                    left: var(--side-space);
                    bottom: 5%;

                    transform-origin: bottom right;

                    .star-img {
                        left: 0;

                        transform: translate(-30%, -36%);
                    }

                    svg {
                        transform-origin: top left;
                    }
                }
            }
        }
    }
}
