main.home {
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: black;

    position: relative;
    isolation: isolate;

    background-color: white;

    section.hero-container {
        width: 100%;
        height: 90vh;

        display: flex;
        align-items: center;
        justify-content: center;

        overflow: hidden;

        background-color: var(--sixty-percent);

        iframe {
            border: none;
            width: 100%;
            height: 100%;
        }
    }
}
