main.home {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: black;

    position: relative;
    isolation: isolate;

    background-color: white;

    section.hero-container {
        width: 100%;
        aspect-ratio: 16 / 9;
        max-height: 90vh;

        display: flex;
        align-items: center;
        justify-content: center;

        overflow: hidden;

        background-color: var(--sixty-percent);

        @media screen and (max-width: 425px) {
            height: 50vh;
        }

        iframe {
            border: none;
            width: 100%;
            height: 100%;
        }
    }
    section.about-us {
        width: 100%;
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: 5vh 3vw;

        background-image: linear-gradient(
            to bottom,
            #015fb6 0%,
            transparent 11%
        );

        .header-texts {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h2.section_title {
                display: flex;
                align-items: center;
                flex-direction: column;
            }
        }
    }
}
