.services-container {
    width: 100%;
    height: 300vh;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 3vw 0;
    padding-top: 200px;

    @media screen and (max-width: 1024px) {
        padding-top: 50px;
    }

    .section-header {
        width: 100%;

        display: flex;
        align-items: center;
        flex-direction: column;

        margin-bottom: 1em;

        h3 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 100%;

            position: relative;
            isolation: isolate;
            overflow: hidden;

            span {
                display: inline-block;
                will-change: transform;

                transition: 0.3s ease;

                position: relative;
                isolation: isolate;

                &:nth-child(1) {
                    transform: translateX(50vw);
                }
                &:nth-child(2) {
                    transform: translateX(-50vw);
                }
            }

            &::before {
                content: '';
                position: absolute;

                width: 100%;
                height: 200%;
                background-image: radial-gradient(transparent, white 69%);

                z-index: 2;
            }
        }
    }
    .icons-container {
        width: 100%;
        height: 150px;

        padding: 0 3vw;

        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 3em;

        position: relative;
        isolation: isolate;

        z-index: 2;

        .icon-container {
            width: 100px;
            aspect-ratio: 1/1;
            flex-shrink: 0;

            display: flex;
            align-items: center;
            justify-content: center;

            will-change: transform;
            transform: translateY(200px);
            transition: 0.4s cubic-bezier(0.45, 0.02, 0.09, 0.98);

            .icon-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;

                border-radius: 100vmax;
                box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;

                width: 100%;
                height: 100%;

                transition: 0.3s cubic-bezier(0.45, 0.02, 0.09, 0.98);

                &:hover {
                    transform: translateY(-1.5em);
                }

                img {
                    border-radius: 100vmax;
                    width: 101%;
                    height: 101%;
                    object-fit: cover;
                }
                .reflect {
                    position: absolute;
                    bottom: 0;

                    width: inherit;
                    height: inherit;

                    transform: rotate(180deg) translateY(-100%);

                    background-size: cover;
                    background-position: center;
                    border-radius: 100vmax;

                    -webkit-mask-image: -webkit-gradient(
                        linear,
                        left 20%,
                        left bottom,
                        from(rgba(0, 0, 0, 0)),
                        to(rgba(0, 0, 0, 0.3))
                    );
                }
            }
        }
    }

    .services-wrapper {
        width: 100%;
        height: 100vh;

        position: sticky;
        top: 0;

        background-color: black;

        display: flex;
        align-items: center;
        justify-content: center;

        isolation: isolate;

        .services-items {
            width: clamp(0px, 100%, 1500px);
            display: flex;
            justify-content: space-between;
            aspect-ratio: 2 / 1;
            padding: 5%;

            border-radius: 3rem;
            background-image: linear-gradient(227deg, #ff6eff, transparent);
            background-color: #3fd3ff;
            filter: brightness(1.3);

            color: white;
            transition: 0.3s ease-in-out;

            opacity: 0;
        }

        .items-bg {
            position: absolute;

            display: flex;
            align-items: center;
            justify-content: space-between;

            width: 100%;
            height: 100%;

            .item-row {
                width: calc(100% / 3 - 50px);
                height: 100%;

                display: flex;
                flex-direction: column;
                align-items: center;

                transform: scale(0.5) rotate3d(1, 1, 1, 45deg);

                will-change: transform;

                &.reverse {
                    flex-direction: column-reverse;
                }

                .row {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 2em;

                    padding-left: 1em;

                    width: 100%;
                    height: 200px;

                    font: inherit;

                    overflow: hidden;

                    direction: ltr;

                    &.apple {
                        background-color: #fa3b53;
                    }
                    &.psn {
                        background-color: #004098;
                    }
                    &.xbox {
                        background-color: #107c0f;
                    }
                    &.canva {
                        background-color: #4c55e4;
                    }
                    &.discord {
                        background-color: #5f70be;
                    }
                    &.hbo {
                        background-color: #3b23a8;
                    }
                    &.netflix {
                        background-color: #e50913;
                    }
                    &.grammerly {
                        background-color: #2ab677;
                    }
                    &.google {
                        background-color: whitesmoke;
                    }
                    &.prime {
                        background-color: #cba5ff;
                    }

                    img {
                        width: 100px;
                        aspect-ratio: 1/1;
                        border-radius: 100vmax;
                    }

                    span {
                        font-family: fantasy;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}
