.services-container {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 3vw 3vw;
    padding-top: 200px;

    @media screen and (max-width: 1024px) {
        padding-top: 50px;
    }

    .section-header {
        width: 100%;

        display: flex;
        align-items: center;
        flex-direction: column;

        position: sticky;
        top: 0;

        h3 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 100%;

            position: relative;
            isolation: isolate;
            overflow: hidden;

            span {
                display: inline-block;
                will-change: transform;

                transition: 0.3s ease;

                position: relative;
                isolation: isolate;

                &:nth-child(1) {
                    transform: translateX(50vw);
                }
                &:nth-child(2) {
                    transform: translateX(-50vw);
                }
            }

            &::before {
                content: '';
                position: absolute;

                width: 100%;
                height: 200%;
                background-image: radial-gradient(transparent, white 69%);

                z-index: 2;
            }
        }
    }
}
