@import './fonts';
@import './button';
@import './input';
@import './root';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color-scheme: dark;
    background-color: var(--cd);
    color: var(--white);

    font-family: var(--fa), var(--en), sans-serif;

    width: 100%;
    height: 100vh;
    // overflow: hidden;

    .root {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        padding-top: 0;
        background-color: var(--cd);

        main {
            width: 100%;
            height: 100%;
            display: flex;
            padding: 1rem;
            border: 2px solid var(--ca);
            background-color: var(--cg);
            overflow-y: auto;
        }
    }

    svg {
        width: 24px;
        height: 24px;
    }

    code {
        // background-color: var(--slate-1);
        background-color: var(--black);
        padding: 0.1rem 0.2rem;
        border-radius: var(--radius);
        font-size: 16px;
    }

    a {
        color: var(--ca);
        text-decoration: none;
    }

    img {
        user-select: none;
    }

    label {
        user-select: none;
    }
}

span.copiable {
    cursor: pointer;

    &:hover {
        color: var(--ca);
    }

    &:active {
        color: var(--cl);
    }
}

// :root {
//     --radius: 0.25rem;
//
//     --white: #f2f2f2;
//     --black: #040404;
//     --red: #e20338;
//     --blue: #51eaff;
//     --green: #00dc7d;
//     --yellow: #ffd600;
//     --cd: #524781;
//     --cl: #f9c586;
//
//     --scroll-bg: var(--cd);
//     --scorll-fg: var(--cl);
//     --scorll-hover: var(--cl);
//     --scorll-active: var(--cl);
//
//     --selection-fg: var(--black);
//     --selection-bg: var(--white);
// }

::-webkit-scrollbar {
    width: 9px;
    background-color: var(--scroll-bg);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 2px solid var(--scroll-bg);
    background-color: var(--scorll-fg);

    &:hover {
        background-color: var(--scorll-hover);
    }

    &:active {
        background-color: var(--scorll-active);
    }
}

::selection {
    background-color: var(--selection-bg);
    color: var(--selection-fg);
}
