@use 'config' as g;
@use 'theme';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    &:focus {
        outline: 0;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--sixty-percent);
    border: 2px solid white;
    border-radius: 20px;
}

// selection
::selection {
    color: #fff;
    background-color: #555;
}

html[data-theme='dark'] {
    body {
        @include theme.dark;
    }
    background-color: var(--accent-color);
}
html[data-theme='light'] {
    body {
        @include theme.light;
    }
    background-color: var(--accent-color);
}

.root {
    background-color: #121212;

    @media screen and (max-width: 768px) {
        overflow: hidden;
    }
}

body {
    // position: fixed;
    // top: 0;
    // right: 0;
    // left: 0;
    // bottom: 0;

    height: 100vh;

    overflow-x: hidden;

    direction: rtl;

    -webkit-tap-highlight-color: transparent;

    --red: #e20338;
}

html,
body {
    scroll-behavior: smooth;
}

.title_hero {
    font-size: g.$TITLE_FONTSIZE_HERO;
    font-family: 'iranBold';
}
.section_title {
    font-size: clamp(1.6rem, 2.9vw + 1.3rem, 2.8rem);
    font-family: 'iranBold';
}
.title {
    font-size: g.$TITLE_FONTSIZE;
    font-family: 'yekanBold';
}
.title_small {
    font-size: g.$TITLE_FONTSIZE_SMALL;
    font-family: 'yekanBold';
}
.title_smaller {
    font-size: g.$TITLE_FONTSIZE_SMALLER;
    font-family: 'yekan';
}

.description {
    font-size: g.$DESCRIPTION_FONT_SIZE;
    font-family: 'yekan';
}
.description_small {
    font-size: g.$DESCRIPTION_FONT_SIZE_SMALL;
    font-family: 'yekan';
}

.icon {
    display: grid;
    place-items: center;
}

.logo {
    font-family: 'Merienda', cursive;
    font-weight: 700;
}

.rtl {
    direction: rtl;
}

// reset
a {
    color: unset;
    text-decoration: none;
    font: inherit;
}
button {
    border: none;
    margin: 0;
    cursor: pointer;
}
