.navbar-fnd {
    width: 100%;
    display: flex;

    .links {
        display: flex;
        gap: 1rem;

        a {
            color: var(--white);
            text-decoration: none;

            &:hover {
                color: var(--cl);
            }
        }
    }
}
